*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
.header{
    background-color:#27353e;
    /*height: 200px;*/

}
.header a{
    color: white;
    text-decoration: none;
}
.header-figure{
    height: 20rem;
    width: 20rem;
}
.header-barra{
    color:#d6c433;
    font-size: 1.8rem;
}
.header-h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 3rem;

}
.badgets{
    width: 50px;
    height: 50px;
}
.footer-h6{
    font-size: 1.3rem;
}