/*Paleta de Colores
de Fondo: Header>Footer= #27353e
Fondo de Contact= #056fff*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.header{
    background-image: url('../pics/fondo_header.jpg');
    background-color:#071a52;
}
.menu{
    width: 80%;
    border-bottom-left-radius: 200px 200px;
    border-bottom-right-radius: 200px 200px;
    margin-top: 0;
    margin-left: 10%;
    border: 2px solid #fff;
}
nav>ul>li{
    text-align: center;
}
nav ul{
    list-style: none;
    background-color: #071a52;
    text-align: center;
    padding: 0;
    z-index: 2;
}
nav li{
    width: 18%;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    margin-right: -4px;
}
.menu li>a{
    font-size: 2.4rem;
    color: white;
    text-decoration: none;
}
nav>ul>il>a{
    text-decoration: none;
    display: block;
    transition: .5s background-color;
}
.container{
    margin-top: 10%;
    margin-bottom: 25%;
    padding: 1%;
    width: 32%;
    display: inline-block;
    background-color: #071a52;
    border-top-right-radius: 200px 200px;
    border-bottom-right-radius: 200px 200px;
    border: 2px solid #fff;
    border-left: none;
}
h1{
    font-size: 2.7rem;
    width: 78%;
    margin: 3% 0;
    font-variant: small-caps;
    font-weight: bolder;
    display: inline-block;
    color: white;
}
h2{
    text-align: center;
    font-size: xx-large;
}
header img{
    margin-left: 1.5%;
    width: 3.5%;
    height: auto;
    float: right;
    position: absolute;
}
div img{
    width: 60px;
    height: 60px;
}
.contacts{
    background-color: #17b978;
    color: white;
    height: 140px;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
}
.form-email input{
    border-color: #898b8a;
    border-style: solid;
    border-radius: 5px;
    padding: 3px 0px 5px 70px;
    background-image: url(../pics/envelope.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-x: 35px;
    background-position-y: center;
}
.form-email button{
    border-color: #aaaaaa;
    display: block;
    background: transparent;
    color: white;
    font-size: 1.2rem;
    padding: 5px 0;
    border-radius: 5px;
    width: 80px;
    margin-top: 8px;
}
.form-email h3{
    font-size: 1.7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    padding: 15px 0;
    
}
.social{
    padding-right: 20px;
}
.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 15px;
    background-size: 50px 50px;
}
.social-link.twitter{
    background-image: url('..//pics/twitter.svg');
}
.social-link.github{
    background-image: url('..//pics/github.svg');
}
.social-link.linkedin{
    background-image: url('..//pics/linkedin.svg');
}
.social-link.instagram{
    background-image: url('..//pics/instagram.svg');
}
.footer{
    background-color:#120136;
    color: white;
    height:30px;   
    text-align: center;
    font-size: 1.1rem;
    padding-top: 5px;
}